<h1 align=right><font size = 2>Last Update on 7-Jun-2020 </font></h1>

<h1 align=center><font size = 6>MOS SUMMARY REPORT - 2020 </font></h1>

<img src = "https://drive.google.com/uc?export=view&id=1s8HGLgIfsnFqo4MrRScRrrtnZn45x9DB" align="left" width=90000>

<a id='id0'></a>
## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. __Monthly Reports__ (Efficiency, Hours, Site, Training, Projects, Leaves and Occupancy Data)<br> 
1.1 [January](#id2)<br>
1.2 Februrary <br>
1.3 March <br>
1.4 April <br>
1.5 May <br>
2. __Yearly Reports__ <br> 
</div>
<hr>

In [5]:
#Importing required Libraries

import pandas as pd
import numpy as np
import datetime as dtf

import matplotlib as mpl
import matplotlib.pyplot as plt
from calendar import monthrange
import calendar
%matplotlib inline

from IPython.display import HTML

In [6]:
# Exporting CSV from Gdrive to Pandas Data Frame format

csv_path='https://drive.google.com/open?id=1T-LPVaN54hHb6WUUZXFYr4eCg5sQ9rrA'
csv_path=csv_path.replace('open','uc')+'&export=download'
dfo=pd.read_csv(csv_path)


# Extracting Due hours from CSV file as stated at the top

dHrs_path='https://drive.google.com/open?id=1vbkCrkqUYil1nBbAJbKj2MXP0Ac0PV18'
dHrs_path=dHrs_path.replace('open','uc')
dHrs_path=dHrs_path+'&export=download'
df_mhrs=pd.read_csv(dHrs_path)
#df_mhrs.head()

In [7]:
dfo.head()

,Date,Eng,Emp. Name,Remark,Project No.,Spare1,Spare2,Spare3,Spare4,Normal Hrs,OT,travel Hrs,ADZ,Spare5,Spare6
0,1-Jan-2020,AR_027,Abdul,U,4010597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1-Jan-2020,RM_039,Ramees,f,4010597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1-Jan-2020,PB_051,Pradeep,I,4010597,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN
3,1-Jan-2020,FK_055,Farrukh Ali,F,4010597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1-Jan-2020,NS_067,Nouman,F,4010597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN